@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Vollkorn&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background: #75c35d;
}

.MainBox{
    background: rgb(255, 255, 255);
    width: 400px;
    padding: 40px;
    overflow: hidden;
    margin: auto;
    margin-top: 30px;
    
    
}


.header h1{
    text-align: center;
    font-size: 80px;
    color: rgba(240, 227, 54, 0.911);
    font-family: 'Lobster', cursive;
}

.ShortLink h2{
    text-align: center;
    font-family: 'Lobster', cursive;
    color: rgb(11, 61, 61);
}



.MainBox input{
    width: 100%;
    height: 45px;
    background-color: rgba(128, 128, 128, 0.5);
    color: black;
    font-size: 20px;
    
    outline: none;
    border: none;


    display: block;
    margin: 20px auto;
    padding: 0px 10px;
    border-radius: 5px;
    
}

.MainBox a{
    text-decoration: none;
}
.MainBox button{
    width: 150px;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #3cff00;
    display: block;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 800;
    font-family: cursive;
}

.MainBox button:hover{
    transition: background-color .3s;
    background-color: hotpink;
}

.copyright{
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.copyright a{
    text-decoration: none;
}